{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

<h1 id="">All Merchants</h1>
<div>&nbsp;</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Added on</th>
    </tr>
    </thead>
    <tbody>
    {% for merchant in examples %}
    {% set merchant_id = merchant.key.id() %}
    <tr>
        <td>{{ merchant_id }}</td>
        <td>{{ merchant.merchant_name }}</td>
        <td>{{ merchant.merchant_cost }}</td>
        <td class="nowrap">{{ merchant.timestamp.strftime('%b %d, %Y %I:%M %p') }}</td>
    </tr>
    {% else %}
    <tr><td colspan="5">No merchants yet</td></tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}
