<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Mar 28 2014 07:32:51 GMT+0000 (UTC) -->
<html>
<head>
  <meta charset="utf-8">
  <title>Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <header>
    <div class="connected">Getta Connected.</div>
  </header>
  
  <div role="main" class="container" style="margin-bottom: 2em;">
    {% for data, name in flashes %}
      <h2>{{ name }}</h2>
      <table>
        <tbody>
          {% for k, v in data.items() -%}
            <tr>
              <td style="padding-right: 5px">{{ k }}:</td>
              <td>{{ v }}</td>
            </tr>
          {% endfor -%}
        </tbody>
      </table>
    {% endfor %}

    <div class="media">
    <div class="img avatar">
      <img src="{{ user.avatar_url }}">
    </div>
    <div class="body">
      <h1 style="margin-top: 0; padding-top: 0">{{ user.name }}</h1>
      <p><a href="{{ user.link }}" target="_blank" rel="nofollow">{{ user.link }}</a></p>
    </div>
  </div>


  <h2>webapp2 auth session</h2>
  <table>
    <tbody>
      {% for k, v in session.items() -%}
        <tr>
          <td style="padding-right: 5px">{{ k }}:</td>
          <td>{{ v }}</td>
        </tr>
      {% endfor -%}
    </tbody>
  </table>

  <p style="margin-top: 2em;">
    <a href="/logout" class="btn">logout</a>
  </p>
  </div>
  
</body>
</html>
